.mainTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #71717a;
    padding-bottom: 12px;

    & .labelForSelect {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;
        
        & .filterByText {
            font-size: 1rem;
        }

        & .labelSelectorFilter {
            width: 100%;
            padding: 16px;
            background: #232328;
            border: 1px solid #2a2a30;
            border-radius: 16px;
            color: #fff;
            font-size: 1rem;
        }
    }

}