:root {
    --main-background: rgb(13, 13, 15);
    --primary-card-background: rgb(26, 26, 30);
    --primary-text: rgb(255, 255, 255);
}

.app {
    padding: 16px 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    gap: 16px;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-text);
    background: var(--main-background);

    & .main-content {
        width: 325px;
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: var(--primary-card-background);
        border-radius: 16px;
    }

    & .side-content {
        padding: 12px;
        height: 100vh;
        border-radius: 16px;
        background: #1a1a1e;
    }
}

.taskItem {
    width: 100%;
    text-align:left ;
    overflow-wrap: break-word;
    word-break: break-all;
}

@media (max-width: 767px) {
    .app {
        padding: 12px;
        width: 100%;
        gap: 36px;

        & .main-content {
            width: 100%;
        }

        & .side-content {
            height: auto;
            width: 100%;
        }
    }
}

@media (min-width: 768px) {
    .app {
        min-width: 768px;
        padding: 24px;
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 16px;

        & .main-content {
            width: 100%;
        }
    }
}

@media (min-width: 1024px) {
    .app {
        padding: 32px;
        max-width: 1200px;
        margin: 0 auto;
    }
}