:root {
  /* My elements */
  --main-background: rgb(13, 13, 15);
  --borders: rgb(42, 42, 48);
}

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-weight: 400;
  height: 100vh;
}

h1, h2 {
  font-weight: 700;
}

h3, h4 {
  font-weight: 600;
}

button {
  padding: 16px;
  border-radius: 12px;
  border: var(--borders);
  background: #232328;
  color: #fff;
  font-size: 0.875rem;
}

li {
  list-style: none;
}
